In [5]:
import pandas as pd
import numpy as np

In [14]:
diamonds = pd.read_csv('diamonds_train.csv')
diamonds.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   1.21    Premium     J     VS2   62.4   58.0   4268  6.83  6.79  4.25
1   0.32  Very Good     H     VS2   63.0   57.0    505  4.35  4.38  2.75
2   0.71       Fair     G     VS1   65.5   55.0   2686  5.62  5.53  3.65
3   0.41       Good     D     SI1   63.8   56.0    738  4.68  4.72  3.00
4   1.02      Ideal     G     SI1   60.5   59.0   4882  6.55  6.51  3.95

In [20]:
df=pd.read_csv('sample_submission.csv')
df.head()

   id       price
0   0  685.639121
1   1  642.445785
2   2  746.907960
3   3   60.737590
4   4  650.451526

In [19]:
from pycaret.regression import *
s2 = setup(data, target = 'Price', session_id = 123,
           normalize = True,
           polynomial_features = True, trigonometry_features = True, feature_interaction=True, 
           bin_numeric_features= ['Carat Weight']

SyntaxError: unexpected EOF while parsing (<ipython-input-19-64bd418303b7>, line 5)